<% layout("layouts/boilerplate") -%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger mt-4" role="alert">
      <h4 class="alert-heading">Something went wrong!</h4>
      <p><%= error.message %></p>
      <hr />
    </div>
  </div>
</div>
